@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Shared styles */

body {
  background-color: #f1f1f3;
}

.body-container {
  margin: 0 160px;
}

.button {
  background-color: #006a50; /* Green */
  border: none;
  color: white;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: #006a50;
  border: 2px solid #006a50;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  padding: 15px 30px;
  
}

.button1:hover {
  background-color: #006a50;
  color: white;
}

.button2 {
  background-color: #006a50;
  color: white;
  border: 2px solid #006a50;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  padding: 15px 30px;
}

.button2:hover {
  background-color: white;
  color: #006a50;
}

.button3 {
  background-color: rgba(84, 144, 245, 1);
  color: white;
  border: 2px none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  padding: 11px 20px;
}

.button3:hover {
  background-color: white;
  color: rgba(84, 144, 245, 1);
}

.button4 {
  background-color: rgba(9, 161, 92, 1);
  color: white;
  border: 2px none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  padding: 11px 20px;
}

.button4:hover {
  background-color: white;
  color: rgba(9, 161, 92, 1);
}

.button5 {
  background-color: rgba(255, 194, 57, 1);
  color: white;
  border: 2px none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  padding: 11px 20px;
}

.button5:hover {
  background-color: white;
  color: rgba(255, 194, 57, 1);
}

.button6 {
  background-color: white;
  color: rgba(14, 14, 14, 0.8);
  border: 2px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  font-weight: 700;
  font-size: 40px;
  padding: 40px;
}

.button6:hover {
  background-color: #c6e4d6;
  color: rgba(14, 14, 14, 0.8);
}

.button7 {
  background-color: #006a50;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  font-weight: 600;
  font-size: 18px;
  padding: 17px 34px;
  margin: 0;
}

.button7:hover {
  background-color: white;
  color: #006a50;
}
/* Fonts */

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Navbar styles */

nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 160px;
  margin-left: 160px;
}
.nav-bg-color {
  background-color: #f5f5f5;
  margin: 0 -155px 0 -155px;

}
.nav-title {
  font-size: 32px;
  color: #0e0e0e;
}

/* banner styles */

.banner {
  background-color: #f1f1f3;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 160px; */
  background-color: #c6e4d6;
  border-radius: 24px;
  gap: 64px;
}

.banner-subtitle {
  color: rgba(14, 14, 14, 0.5);
  font-weight: 500;
  font-size: 24px;
  line-height: 10px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 55px;
}

.banner-title {
  color: #0e0e0e;
  font-size: 42.5px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.banner-content {
  margin-left: 60px;
  margin-bottom: 117px;
  margin-top: 117px;
}

.banner-img {
  width: 470px;
  height: 400px;
  margin: 80px 60px 80px 0;
}

/* Pillars styles */
.pillars {
  margin: 80px 0;
}
.pillars-title {
  font-size: 30px;
  font-weight: 700;
}

.card-container {
  display: flex;
  gap: 24px;
  /* justify-content: space-around; */
}

.card {
  background-color: white;
  border: rgba(14, 14, 14, 0.15);
  border-radius: 24px;
  padding: 24px;
  flex: 1;
}

.card-pillars-title {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 700;
}

.pillars-description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.5);
  text-align: justify;
}

/* vision style */

.vision {
  margin-bottom: 80px;
}

.vision-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
}

.vision-description {
  margin-top: 24px;
  margin-bottom: 32px;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.5);
}

.bg-blue {
  background-color: rgba(84, 144, 245, 0.2);
}

.bg-green {
  background-color: rgba(198, 228, 214, 1);
}

.bg-yellow {
  background-color: rgba(247, 235, 207, 1);
}
.card-vision {
  padding: 32px;
  border-radius: 16px;
  flex: 1;
}

.card-vision-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
}

.card-vision-description {
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 24px;
}

/* quote style */

.quote-container {
  margin-top: 32px;
  background-color: white;
  border: rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  position: relative;
}

.quote-img {
  margin-left: 24px;
  margin-top: 25px;
  margin-bottom: 130px;
}

.quote {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  padding: 5px;
  margin-left: 20px;
  margin-top: 30px;
}

.quote-title {
  margin-top: 12px;
  margin-bottom: 4px;
  color: rgba(14, 14, 14, 0.8);
}

.quote-description {
  color: rgba(14, 14, 14, 0.6);
  margin-right: 24px;
}

.quote-description1 {
  color: rgba(14, 14, 14, 0.6);
  margin-top: 0;
}

/* opinion styles */
.opinion {
  margin-bottom: 80px;
}
.opinion-title {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 0;
}

.qus-container {
  background-color: white;
  border-radius: 16px;
  margin-top: 24px;
  padding: 32px;
}

.questions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #c6e4d6;
  border-style: solid;
  border-color: rgba(14, 14, 14, 0.15);
}

.qus-title {
  font-size: 20px;
  font-weight: 600;
  color: #0e0e0e;
}

/* Question styles */

/* .questions {
  border-style: solid;
  border-color: rgba(14, 14, 14, 0.15);
  border-top: none;
} */

.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color: rgba(14, 14, 14, 0.15);
  border-top-style: none;
}

.qus-description {
  font-size: 16px;
  font-weight: 600;
  color: #0e0e0e;
  padding: 12px 24px;
}

/* Style The Dropdown Button */

.dropbtn {
  background-color: #c6e4d6;
  color: #0e0e0e;
  margin: 24px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 14px;
  border-radius: 4px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding: 12px 12px;
  border-left-style: solid;
  border-color: rgba(14, 14, 14, 0.15);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
}

/* news section styles */
.news {
  margin-bottom: 80px;
}
.news-title {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 0;
}

.news-description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.6);
  margin-top: 24px;
}

.news-container {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  gap: 32px;
}

.news-container.reverse {
  flex-direction: row-reverse; /* Reversed: content first, then img */
}

.img-satelite {
  margin: 48px 0px 48px 48px;
}

.news-container img {
  border-radius: 24px;
}

.news-content {
  margin: 56px 48px 56px 0px;
}

.news-content-title {
  font-size: 32px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  margin: 0;
}

.content-img {
  margin: 12px 0px;
}

.date-time {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.5);
}

.news-content-description {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.5);
  margin: 12px 0px 32px 0px;
}

.img-satelite.reverse {
  margin: 48px 48px 48px 0px;
}

.news-content.reverse {
  margin: 56px 0px 56px 48px;
}

/* Donate section styles */
.donate {
  margin-bottom: 80px;
}
.donate-title {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 0;
  text-align: center;
}

.donate-description {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.5);
  text-align: center;
  margin-top: 24px;
  margin-bottom: 32px;
}

.donation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

input[type="text"] {
  align-items: center;
  width: 95%;
  padding: 20px 40px;
  margin: 32px 0;
  box-sizing: border-box;
  text-align: center;
  border: none;
}
input[placeholder="Other amount (taka)"] {
  font-size: 20px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.3);
}
.donate-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* newsletter styles */

.newsletter {
  background-color: #c6e4d6;
  border-radius: 24px;
  margin-bottom: 80px;
}

.subscribe-container {
  padding: 80px 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter-title {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin: 0;
}

.newsletter-description {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.5);
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.newsletter-description1 {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.5);
  text-align: center;
  margin-top: 24pxpx;
}

.newsletter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0;
}

input[type="email"] {
  align-items: center;
  width: 100%;
  padding: 18px 40px;
  box-sizing: border-box;
  text-align: start;
  border: none;
  border-radius: 8px 0 0 8px;
}
input[placeholder="Enter your email here"] {
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.3);
}
/* footer styles */

.footer-title {
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
  margin-top: 50px;
  margin-bottom: 32px;
}

hr {
  margin: auto;
  padding: 0;
  color: rgba(14, 14, 14, 0.1);
  width: 70%;
  
}
.footer-bg-color {
  background-color: white;
  margin: 0 -155px 0 -155px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 32px 0 50px 0;
}
