@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Shared styles */

body {
  background-color: #f1f1f3;
}

.body-container {
  margin: 0 160px;
}

.button {
  background-color: #006a50; /* Green */
  border: none;
  color: white;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: #006a50;
  border: 2px solid #006a50;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  padding: 15px 30px;
}

.button1:hover {
  background-color: #006a50;
  color: white;
}

.button2 {
  background-color: #006a50;
  color: white;
  border: 2px solid #006a50;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  padding: 15px 30px;
}

.button2:hover {
  background-color: white;
  color: #006a50;
}

.button3 {
  background-color: rgba(84, 144, 245, 1);
  color: white;
  border: 2px none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  padding: 11px 20px;
}

.button3:hover {
  background-color: white;
  color: rgba(84, 144, 245, 1);
}

.button4 {
  background-color: rgba(9, 161, 92, 1);
  color: white;
  border: 2px none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  padding: 11px 20px;
}

.button4:hover {
  background-color: white;
  color: rgba(9, 161, 92, 1);
}

.button5 {
  background-color: rgba(255, 194, 57, 1);
  color: white;
  border: 2px none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  padding: 11px 20px;
}

.button5:hover {
  background-color: white;
  color: rgba(255, 194, 57, 1);
}
/* Fonts */

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Navbar styles */

nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 160px; */
}
.nav-bg-color {
  background-color: #f5f5f5;
  margin: 0 -500%;
  padding: 0 500% !important;
}
.nav-title {
  font-size: 32px;
  color: #0e0e0e;
}

/* banner styles */

.banner {
  background-color: #f1f1f3;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 160px; */
  background-color: #c6e4d6;
  border-radius: 24px;
  gap: 64px;
}

.banner-subtitle {
  color: rgba(14, 14, 14, 0.5);
  font-weight: 500;
  font-size: 24px;
  line-height: 10px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 55px;
}

.banner-title {
  color: #0e0e0e;
  font-size: 42.5px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.banner-content {
  margin-left: 60px;
  margin-bottom: 117px;
  margin-top: 117px;
}

.banner-img {
  width: 470px;
  height: 400px;
  margin: 80px 60px 80px 0;
}

/* Pillars styles */
.pillars {
  margin: 80px 0;
}
.pillars-title {
  font-size: 30px;
  font-weight: 700;
}

.card-container {
  display: flex;
  gap: 24px;
  /* justify-content: space-around; */
}

.card {
  background-color: white;
  border: rgba(14, 14, 14, 0.15);
  border-radius: 24px;
  padding: 24px;
  flex: 1;
}

.card-pillars-title {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 700;
}

.pillars-description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.5);
  text-align: justify;
}

/* vision style */

.vision {
  margin-bottom: 80px;
}

.vision-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
}

.vision-description {
  margin-top: 24px;
  margin-bottom: 32px;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.5);
}

.bg-blue {
  background-color: rgba(84, 144, 245, 0.2);
}

.bg-green {
  background-color: rgba(198, 228, 214, 1);
}

.bg-yellow {
  background-color: rgba(247, 235, 207, 1);
}
.card-vision {
  padding: 32px;
  border-radius: 16px;
  flex: 1;
}

.card-vision-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
}

.card-vision-description {
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 24px;
}

/* quote style */

.quote-container {
  margin-top: 32px;
  background-color: white;
  border: rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  position: relative;
}

.quote-img {
  margin-left: 24px;
  margin-top: 25px;
  margin-bottom: 130px;
}

.quote {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  padding: 5px;
  margin-left: 20px;
  margin-top: 30px;
}

.quote-title {
  margin-top: 12px;
  margin-bottom: 4px;
  color: rgba(14, 14, 14, 0.8)
}

.quote-description{
  color: rgba(14, 14, 14, 0.6);
  margin-right: 24px;
}

.quote-description1{
  color: rgba(14, 14, 14, 0.6);
  margin-top: 0;
}

/* opinion styles */

.opinion-title{
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 0;
}

.qus-container {
  background-color: white;
  border-radius: 16px;
  margin-top: 24px;
  padding: 32px;
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #c6e4d6;
  border-style: solid;
  border-color: rgba(14, 14, 14, 0.15);
}

.qus-title {
  font-size: 20px;
  font-weight: 600;
  color: #0e0e0e;
}